body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

button {
    background-color: #4CAF50; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    padding: 10px 20px; /* Espacement interne du bouton */
    border: none; /* Supprime la bordure du bouton */
    border-radius: 5px; /* Ajoute des coins arrondis au bouton */
    cursor: pointer; /* Change le curseur au survol du bouton */
}

button:hover {
    background-color: #45a049; /* Couleur de fond du bouton au survol */
}


.container h1{
    color: blue;
}
.container h2{
    color:darkcyan
}
.container img {
    width: 100%;
}

/* styles.css */

/* Ajoutez une transition pour la classe page-transition */
body.page-transition {
    opacity: 0; /* Opacité initiale à 0 pour une transition de fondu */
    transition: opacity 1s ease-in-out; /* Transition de 1 seconde avec un effet d'entrée/sortie */
}